:root, .__fb-light-mode{
  --fds-black: black;
  --fds-black-alpha-05: rgba(0, 0, 0, 0.05);
  --fds-black-alpha-10: rgba(0, 0, 0, 0.1);
  --fds-black-alpha-15: rgba(0, 0, 0, 0.15);
  --fds-black-alpha-20: rgba(0, 0, 0, 0.2);
  --fds-black-alpha-30: rgba(0, 0, 0, 0.3);
  --fds-black-alpha-40: rgba(0, 0, 0, 0.4);
  --fds-black-alpha-50: rgba(0, 0, 0, 0.5);
  --fds-black-alpha-60: rgba(0, 0, 0, 0.6);
  --fds-black-alpha-80: rgba(0, 0, 0, 0.8);
  --fds-blue-05: black;
  --fds-blue-30: black;
  --fds-blue-40: black;
  --fds-blue-60: black;
  --fds-blue-70: black;
  --fds-blue-80: black;
  --fds-button-text: black;
  --fds-comment-background: black;
  --fds-dark-mode-gray-35: black;
  --fds-dark-mode-gray-50: black;
  --fds-dark-mode-gray-70: black;
  --fds-dark-mode-gray-80: black;
  --fds-dark-mode-gray-90: black;
  --fds-dark-mode-gray-100: black;
  --fds-gray-00: black;
  --fds-gray-05: black;
  --fds-gray-10: black;
  --fds-gray-20: black;
  --fds-gray-25: black;
  --fds-gray-30: black;
  --fds-gray-45: black;
  --fds-gray-70: black;
  --fds-gray-80: black;
  --fds-gray-90: black;
  --fds-gray-100: black;
  --fds-green-55: black;
  --fds-highlight: black;
  --fds-highlight-cell-background: black;
  --fds-primary-icon: white;
  --fds-primary-text: white;
  --fds-red-55: black;
  --fds-soft: cubic-bezier(.08,.52,.52,1);
  --fds-spectrum-aluminum-tint-70: black;
  --fds-spectrum-blue-gray-tint-70: black;
  --fds-spectrum-cherry: black;
  --fds-spectrum-cherry-tint-70: black;
  --fds-spectrum-grape-tint-70: black;
  --fds-spectrum-grape-tint-90: black;
  --fds-spectrum-lemon-dark-1: black;
  --fds-spectrum-lemon-tint-70: black;
  --fds-spectrum-lime: black;
  --fds-spectrum-lime-tint-70: black;
  --fds-spectrum-orange-tint-70: black;
  --fds-spectrum-orange-tint-90: black;
  --fds-spectrum-seafoam-tint-70: black;
  --fds-spectrum-slate-dark-2: black;
  --fds-spectrum-slate-tint-70: black;
  --fds-spectrum-teal: black;
  --fds-spectrum-teal-dark-1: black;
  --fds-spectrum-teal-dark-2: black;
  --fds-spectrum-teal-tint-70: black;
  --fds-spectrum-teal-tint-90: black;
  --fds-spectrum-tomato: black;
  --fds-spectrum-tomato-tint-30: black;
  --fds-spectrum-tomato-tint-90: black;
  --fds-strong: cubic-bezier(.12,.8,.32,1);
  --fds-white: black;
  --fds-white-alpha-05: rgba(255, 255, 255, 0.05);
  --fds-white-alpha-10: rgba(255, 255, 255, 0.1);
  --fds-white-alpha-20: rgba(255, 255, 255, 0.2);
  --fds-white-alpha-30: rgba(255, 255, 255, 0.3);
  --fds-white-alpha-40: rgba(255, 255, 255, 0.4);
  --fds-white-alpha-50: rgba(255, 255, 255, 0.5);
  --fds-white-alpha-60: rgba(255, 255, 255, 0.6);
  --fds-white-alpha-80: rgba(255, 255, 255, 0.8);
  --fds-yellow-20: black;
  --accent: hsl(214, 100%, 59%);
  --always-white: white;
  --always-black: black;
  --always-dark-gradient: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6));
  --always-dark-overlay: rgba(0, 0, 0, 0.4);
  --always-light-overlay: rgba(255, 255, 255, 0.4);
  --always-gray-40: #65676B;
  --always-gray-75: #BCC0C4;
  --always-gray-95: #F0F2F5;
  --attachment-footer-background: rgba(255,255,255,0.1);
  --background-deemphasized: rgba(255,255,255,0.1);
  --base-blue: #1877F2;
  --base-cherry: #F3425F;
  --base-grape: #9360F7;
  --base-lemon: #F7B928;
  --base-lime: #45BD62;
  --base-pink: #FF66BF;
  --base-seafoam: #54C7EC;
  --base-teal: #2ABBA7;
  --base-tomato: #FB724B;
  --blue-link: #4599FF;
  --card-background: #242526;
  --card-background-flat: #323436;
  --comment-background: #3A3B3C;
  --comment-footer-background: #4E4F50;
  --dataviz-primary-1: rgb(48,200,180);
  --disabled-button-background: rgba(255, 255, 255, 0.2);
  --disabled-button-text: rgba(255, 255, 255, 0.3);
  --disabled-icon: rgba(255, 255, 255, 0.3);
  --disabled-text: rgba(255, 255, 255, 0.3);
  --divider: #3E4042;
  --event-date: #F3425F;
  --filter-accent: invert(40%) sepia(52%) saturate(200%) saturate(200%) saturate(200%) saturate(189%) hue-rotate(191deg) brightness(103%) contrast(102%);
  --filter-always-white: invert(100%);
  --filter-disabled-icon: invert(100%) opacity(30%);
  --filter-placeholder-icon: invert(59%) sepia(11%) saturate(200%) saturate(135%) hue-rotate(176deg) brightness(96%) contrast(94%);
  --filter-primary-icon: invert(89%) sepia(6%) hue-rotate(185deg);
  --filter-secondary-icon: invert(62%) sepia(98%) saturate(12%) hue-rotate(175deg) brightness(90%) contrast(96%);
  --filter-warning-icon: invert(77%) sepia(29%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(128%) hue-rotate(359deg) brightness(102%) contrast(107%);
  --filter-blue-link-icon: invert(73%) sepia(29%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(103.25%) hue-rotate(189deg) brightness(101%) contrast(101%);
  --filter-positive: invert(37%) sepia(61%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(115%) hue-rotate(91deg) brightness(97%) contrast(105%);
  --filter-negative: invert(25%) sepia(33%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(110%) hue-rotate(345deg) brightness(132%) contrast(96%);
  --glimmer-spinner-icon: white;
  --hero-banner-background: #E85D07;
  --hosted-view-selected-state: rgba(45, 136, 255, 0.1);
  --highlight-bg: rgba(24, 119, 242, .31);
  --hover-overlay: rgba(255, 255, 255, 0.1);
  --media-hover: rgba(68, 73, 80, 0.15);
  --media-inner-border: rgba(255, 255, 255, 0.05);
  --media-outer-border: #33363A;
  --media-pressed: rgba(68, 73, 80, 0.35);
  --messenger-card-background: #242526;
  --messenger-reply-background: #18191A;
  --overlay-alpha-80: rgba(11, 11, 11, 0.8);
  --overlay-on-media: rgba(0, 0, 0, 0.6);
  --nav-bar-background: #242526;
  --nav-bar-background-gradient: linear-gradient(to top, #242526, rgba(36,37,38,.9), rgba(36,37,38,.7), rgba(36,37,38,.4), rgba(36,37,38,0));
  --nav-bar-background-gradient-wash: linear-gradient(to top, #18191A, rgba(24,25,26,.9), rgba(24,25,26,.7), rgba(24,25,26,.4), rgba(24,25,26,0));
  --negative: hsl(350, 87%, 55%);
  --negative-background: hsl(350, 87%, 55%, 20%);
  --new-notification-background: #E7F3FF;
  --non-media-pressed: rgba(68, 73, 80, 0.15);
  --non-media-pressed-on-dark: rgba(255, 255, 255, 0.3);
  --notification-badge: #e41e3f;
  --placeholder-icon: #8A8D91;
  --placeholder-text: #8A8D91;
  --placeholder-text-on-media: rgba(255, 255, 255, 0.5);
  --popover-background: #3E4042;
  --positive: #31A24C;
  --positive-background: #1F3520;
  --press-overlay: rgba(255, 255, 255, 0.1);
  --primary-button-background: #2374E1;
  --primary-button-pressed: #77A7FF;
  --primary-button-text: #FFFFFF;
  --primary-deemphasized-button-background: rgba(45, 136, 255, 0.2);
  --primary-deemphasized-button-pressed: rgba(24, 119, 242, 0.2);
  --primary-deemphasized-button-pressed-overlay: rgba(25, 110, 255, 0.15);
  --primary-deemphasized-button-text: #2D88FF;
  --primary-icon: #E4E6EB;
  --primary-text: #E4E6EB;
  --primary-text-on-media: white;
  --primary-web-focus-indicator: #D24294;
  --progress-ring-neutral-background: rgba(255, 255, 255, 0.2);
  --progress-ring-neutral-foreground: #ffffff;
  --progress-ring-on-media-background: rgba(255, 255, 255, 0.2);
  --progress-ring-on-media-foreground: #FFFFFF;
  --progress-ring-blue-background: rgba(45, 136, 255, 0.2);
  --progress-ring-blue-foreground: hsl(214, 100%, 59%);
  --progress-ring-disabled-background: rgba(122,125,130, 0.2);
  --progress-ring-disabled-foreground: #7A7D82;
  --rating-star-active: #FF9831;
  --scroll-thumb: rgba(255, 255, 255, 0.3);
  --scroll-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 -1px rgba(255, 255, 255, 0.05) inset;
  --secondary-button-background: rgba(255,255,255,.1);
  --secondary-button-background-floating: #4B4C4F;
  --secondary-button-background-on-dark: rgba(255, 255, 255, 0.4);
  --secondary-button-pressed: rgba(0, 0, 0, 0.05);
  --secondary-button-stroke: transparent;
  --secondary-button-text: #E4E6EB;
  --secondary-icon: #B0B3B8;
  --secondary-text: #B0B3B8;
  --secondary-text-on-media: rgba(255, 255, 255, 0.9);
  --section-header-text: #BCC0C4;
  --shadow-1: rgba(0, 0, 0, 0.1);
  --shadow-2: rgba(0, 0, 0, 0.2);
  --shadow-5: rgba(0, 0, 0, 0.5);
  --shadow-8: rgba(0, 0, 0, 0.8);
  --shadow-inset: rgba(255, 255, 255, 0.05);
  --surface-background: #242526;
  --text-highlight: rgba(24, 119, 242, 0.45);
  --toggle-active-background: rgb(45, 136, 255);
  --toggle-active-icon: #FFFFFF;
  --toggle-active-text: #FFFFFF;
  --toggle-button-active-background: #E6F2FF;
  --wash: #3E4042;
  --web-wash: #18191A;
  --warning: hsl(40, 89%, 52%);
  --fb-logo-color: #2D88FF;
  --dialog-anchor-vertical-padding: 56px;
  --global-panel-width: 68px;
  --button-corner-radius: 6px;
  --card-corner-radius: 8px;
  --fds-animation-enter-exit-in: cubic-bezier(0.14, 1, 0.34, 1);
  --fds-animation-enter-exit-out: cubic-bezier(0.45, 0.1, 0.2, 1);
  --fds-animation-swap-shuffle-in: cubic-bezier(0.14, 1, 0.34, 1);
  --fds-animation-swap-shuffle-out: cubic-bezier(0.45, 0.1, 0.2, 1);
  --fds-animation-move-in: cubic-bezier(0.17, 0.17, 0, 1);
  --fds-animation-move-out: cubic-bezier(0.17, 0.17, 0, 1);
  --fds-animation-expand-collapse-in: cubic-bezier(0.17, 0.17, 0, 1);
  --fds-animation-expand-collapse-out: cubic-bezier(0.17, 0.17, 0, 1);
  --fds-animation-passive-move-in: cubic-bezier(0.5, 0, 0.1, 1);
  --fds-animation-passive-move-out: cubic-bezier(0.5, 0, 0.1, 1);
  --fds-animation-quick-move-in: cubic-bezier(0.1, 0.9, 0.2, 1);
  --fds-animation-quick-move-out: cubic-bezier(0.1, 0.9, 0.2, 1);
  --fds-animation-fade-in: cubic-bezier(0, 0, 1, 1);
  --fds-animation-fade-out: cubic-bezier(0, 0, 1, 1);
  --fds-duration-extra-extra-short-in: 100ms;
  --fds-duration-extra-extra-short-out: 100ms;
  --fds-duration-extra-short-in: 200ms;
  --fds-duration-extra-short-out: 150ms;
  --fds-duration-short-in: 280ms;
  --fds-duration-short-out: 200ms;
  --fds-duration-medium-in: 400ms;
  --fds-duration-medium-out: 350ms;
  --fds-duration-long-in: 500ms;
  --fds-duration-long-out: 350ms;
  --fds-duration-extra-long-in: 1000ms;
  --fds-duration-extra-long-out: 1000ms;
  --fds-duration-none: 0ms;
  --fds-fast: 200ms;
  --fds-slow: 400ms;
  --font-family-apple: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
  --font-family-code: ui-monospace, Menlo, Consolas, Monaco, monospace;
  --font-family-default: Helvetica, Arial, sans-serif;
  --font-family-segoe: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
  --dataviz-primary-2: rgb(134,218,255);
  --dataviz-primary-3: rgb(95,170,255);
  --dataviz-secondary-1: rgb(129,77,231);
  --dataviz-secondary-2: rgb(168,124,255);
  --dataviz-secondary-3: rgb(219,26,139);
  --dataviz-supplementary-1: rgb(255,122,105);
  --dataviz-supplementary-2: rgb(241,168,23);
  --dataviz-supplementary-3: rgb(49,162,76);
  --dataviz-supplementary-4: rgb(228,230,235);
}

:root, .__fb-light-mode{
	--dbfm-active-chat-color: #0567ff1a; 
	--dbfm-secondary-btn-background-color: #2e3640;
	--dbfm-main-background-color: #161b22;
	--dbfm-response-message-color: #414344;
	--dbfm-messages-color: #25292f;
	--dbfm-primary-text-color: #eee;
	--dbfm-secondary-text-color: #B9B3B3;
	
	--primary-text: var(--dbfm-primary-text-color);
	--secondary-text: var(--dbfm-secondary-text-color);
	--wash: var(--dbfm-messages-color);
	--comment-footer-background: var(--dbfm-response-message-color);
	--messenger-card-background: var(--dbfm-main-background-color);
	--surface-background: var(--dbfm-main-background-color);
	--secondary-button-background: var(--dbfm-secondary-btn-background-color);
	--hosted-view-selected-state: var(--dbfm-active-chat-color); 	
	--always-dark-overlay: var(--dbfm-primary-text-color);
	--always-black: var(--dbfm-primary-text-color);
	
	--card-background: #161b22;
}
.tdjehn4e{
	background-color: var(--dbfm-secondary-btn-background-color);
}


/* Muted chat "bell" icon fix */
path[d="M9.244 24.99h-.001L26.867 7.366a1.25 1.25 0 111.768 1.768l-3.296 3.295a2 2 0 00-.554 1.766l1.05 5.877a3 3 0 00.831 1.594l.92.92a1.414 1.414 0 01-1 2.414H13.597a2 2 0 00-1.414.586l-3.05 3.049a1.25 1.25 0 11-1.767-1.768l1.878-1.877z"], path[d="M15.041 27.498c-.045-.273.183-.498.459-.498h5c.276 0 .504.226.459.498a3 3 0 01-5.918 0zm6.481-19.474a6.57 6.57 0 00-9.99 4.39L10.537 18l-.056.27c-.152.729.738 1.209 1.264.682l9.862-9.86c.312-.314.29-.83-.084-1.068z"]{
	filter: invert(60%);
}

/* Settings icons color fix */
path[d="M22.278 25.778a3.5 3.5 0 107 0 3.5 3.5 0 00-7 0z"], path[d="M28.734 20.414c-.071.32-.435.463-.735.331A5.5 5.5 0 0020.745 28c.133.3-.011.664-.33.735-.778.174-1.586.266-2.415.266-6.075 0-11-4.925-11-11S11.925 7 18 7s11 4.925 11 11c0 .83-.092 1.637-.266 2.414z"], path[d="M19 9.501c0-1.346-1.636-2.01-2.575-1.046l-3.983 4.091a1.5 1.5 0 01-1.075.454H8a2 2 0 00-2 2v6a2 2 0 002 2h3.367a1.5 1.5 0 011.075.454l3.983 4.091c.94.965 2.575.3 2.575-1.046V9.501zm3.333 2.665c-.488.489-.477 1.275-.083 1.842A6.968 6.968 0 0123.5 18c0 1.484-.462 2.86-1.25 3.992-.394.567-.405 1.354.083 1.842.488.488 1.287.492 1.707-.055A9.458 9.458 0 0026 18a9.456 9.456 0 00-1.96-5.778c-.42-.548-1.219-.544-1.707-.056z"], path[d="M25.87 27.37c-.488-.489-.482-1.277-.047-1.813A11.95 11.95 0 0028.5 18a11.95 11.95 0 00-2.678-7.557c-.435-.536-.441-1.324.047-1.812s1.284-.491 1.729.037A14.442 14.442 0 0131 18c0 3.555-1.28 6.81-3.402 9.332-.445.529-1.24.525-1.729.037z"], path[d="M17 9.5a.5.5 0 00-.5-.5H9a3 3 0 00-3 3v12a3 3 0 003 3h7.5a.5.5 0 00.5-.5v-1.355a.534.534 0 00-.435-.514c-1.16-.24-2.337-.872-3.153-2.123a1 1 0 111.676-1.093c.55.844 1.378 1.225 2.247 1.314.906.093 1.745-.147 2.156-.41l.012-.008.013-.007c.72-.433 1.07-1.216.96-1.808-.086-.47-.572-1.277-2.587-1.502h-.002c-2.498-.279-4.07-1.461-4.516-3.093-.429-1.562.294-3.195 1.625-4.035l.01-.006.01-.006c.42-.252.952-.428 1.53-.523a.531.531 0 00.454-.515V9.5z"], path[d="M19 26.5a.5.5 0 00.5.5H27a3 3 0 003-3V12a3 3 0 00-3-3h-7.5a.5.5 0 00-.5.5v1.515c0 .232.16.431.381.5.998.312 1.976.936 2.518 2.047a1 1 0 01-1.798.876c-.299-.612-.976-1.009-1.888-1.143-.92-.135-1.781.047-2.16.268-.64.411-.93 1.168-.754 1.81.158.574.811 1.41 2.811 1.633h.004c2.484.279 4.021 1.447 4.33 3.129.285 1.554-.595 3.095-1.887 3.877a4.526 4.526 0 01-1.164.507.531.531 0 00-.393.503V26.5z"], path[d="M18 29c6.075 0 11-4.925 11-11S24.075 7 18 7 7 11.925 7 18s4.925 11 11 11zm-7-12.5a1 1 0 00-1 1v1a1 1 0 001 1h14a1 1 0 001-1v-1a1 1 0 00-1-1H11z"]{
	filter:invert(60%);
}

/* Hide additional scrollbar */
._9dls{
	overflow-y: hidden !important;
}

